@import url("../../src/styles/common-styles.css");
@import url("../../src/styles/fonts.css");

.section_news {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section_news-title {
  text-align: center;
  font-family: "InterTight-Regular", sans-serif;
  color: #000e1f;
  margin-bottom: 70px;
}

.section_news-wrapper {
  padding: 0 20px;
  width: 100%;
  max-width: 1240px;
}

.news_content-right h2 {
  font-family: "InterTight-Regular", sans-serif;
  color: #000e1f;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  padding: 15px 0;
}

.news_content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 90px;
}

.news_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.news_content-left {
  margin-right: 70px;
}

.news_content-left img {
  display: block;
  min-width: 300px;
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 0px 4px 60px rgb(24 24 26 / 6%);
  box-shadow: 0px 4px 60px rgb(24 24 26 / 6%);
  border-radius: 12px;
  background-color: #fff;
}

.news_content-right {
  max-width: 800px;
  width: 100%;
}

.date_publ,
.service_site {
  color: #696969;
  font-family: "InterTight-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.service_site {
  margin-left: 4px;
}

.news_info {
  width: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: start;
}

.news_short-text {
  margin-top: 20px;
}

.news_subtitle {
  margin-top: 30px;
}

.news_subtitle h3 {
  color: #2c2d2f;
  font-family: "InterTight-Regular";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
}

.news_subtitle p {
  color: #333e4c;
  font-family: "InterTight-Regular";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.read_more {
  display: flex;
  align-items: center;
}

.read_more span {
  font-family: "InterTight-Regular";
  color: #000e1f;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.read_more .more__btn {
  width: 16px;
  height: 16px;
  background-color: #e44501;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 12px;
}

.read_more img {
  width: 10px;
}

.share_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.share_social .copy_link i {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  color: rgba(6, 6, 64, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #d3e1e8;
  -webkit-transition-property: border-color, color;
  -o-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.share_social .copy_link i:hover {
  border-color: #e44501;
  color: #e44501;
}

.link_success {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkmark {
    display: none;
    width: 24px;
    height: 24px;
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    animation: checkmarkAnimation 0.5s ease-out forwards;
  }

  @keyframes checkmarkAnimation {
    0% {
      stroke-dashoffset: 30;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

@media (max-width: 1135px) {
    .share_social .copy_link:nth-child(1) {
        margin-left: 35px;
    }

    .news_content-left {
        margin-right: 0;
        margin-bottom: 35px;
    }

  .news_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .news_content-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .news_content-right h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    font-size: 27px;
    text-align: center;
  }

  .news_subtitle {
    text-align: center;
  }

  .news_info {
    justify-content: center;
  }

  .read_more {
    justify-content: center;
  }

  .section_news {
    padding-bottom: 0;
  }
}

@media (max-width: 450px) {
  .news_content-left img {
    width: 250px;
    height: unset;
  }

  .news_content-right .news_subtitle h3 {
    font-size: 20px;
  }
}
