:root {
  --header_color: #6a6a76;
  --header_active: #e44501;
  --footer_active: #e44501;
  --footer_dark: rgba(102, 110, 121, 1);
  --footer_color: rgba(204, 207, 210, 1);
  --footer_policy: rgba(102, 110, 121, 1);
}

/* Section background style  */

.dark__background {
  background-color: #000e1f !important;
}

.dark_bc_color {
  color: #f9fbfe !important;
}

/* /Section background style  */

/* Section name */

.section__name {
  min-width: 124px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 14px 8px 37px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  border-radius: 20px;
  background: #0169e4;
  margin-bottom: 20px;
}

.section__name h2 {
  font-family: "InterTight-Regular", sans-serif;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}

.section__name h2::before {
  content: "";
  position: absolute;
  width: 100%;
  background-image: url("../img/svg/section_name_arrow.svg");
  height: 100%;
  background-repeat: no-repeat;
  left: -28px;
  top: -1px;
}

@media (max-width: 1239px) {
  .section__name h2::before {
    top: -2px;
  }

  .section__name h2 {
    font-size: 10px;
  }
}
/* /Section name */

/* Section title style */
.section__title,
.section__subtitle {
  font-family: "InterTight-Regular", sans-serif;
  color: #000e1f;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-align: center;
  padding: 0 10px;
}

.section__title {
  margin-bottom: 20px;
}

.section__subtitle {
  font-size: 18px;
  margin-bottom: 50px;
}

.italic {
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 1239px) {
  .section__title {
    font-size: 35px;
  }

  .section__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 376px) {
  .section__title {
    font-size: 25px;
  }

  .section__subtitle {
    font-size: 14px;
  }
}

/* /Section title style */
