/* Manrope */
@font-face {
  font-family: "Manrope-Bold";
  src: url("../fonts/Manrope-Bold.ttf");
}
@font-face {
  font-family: "Manrope-Light";
  src: url("../fonts/Manrope-Light.ttf");
}
@font-face {
  font-family: "Manrope-Medium";
  src: url("../fonts/Manrope-Medium.ttf");
}
@font-face {
  font-family: "Manrope-Regular";
  src: url("../fonts/Manrope-Regular.ttf");
}
/* /Manrope */

/* InterTight */
@font-face {
  font-family: "InterTight-Bold";
  src: url("../fonts/InterTight-Bold.ttf");
}
@font-face {
  font-family: "InterTight-Light";
  src: url("../fonts/InterTight-Light.ttf");
}
@font-face {
  font-family: "InterTight-Medium";
  src: url("../fonts/InterTight-Medium.ttf");
}
@font-face {
  font-family: "InterTight-Regular";
  src: url("../fonts/InterTight-Regular.ttf");
}
/* /InterTight */

/* Raleway */
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Light.ttf");
}
@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.ttf");
}
/* /Raleway */

/* Lato */
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}
/* /Lato */
